
h1 {
  text-align: center;
  color: khaki;
  font-size:100px;
  font-weight:bold;
  font-family: Helvetica;
  background-image: url("./images/pattern.jpeg");

}

  h2 {
font-family: Helvetica;
color: white;
font-size: 32px;
font-weight: bold;

}

#brushes {

  background-color: mediumspringgreen;
}

 #Frames {
background-color: lightcoral;
}

#paint {
background-color: skyblue;
}

span { color: blue; font-weight: bold;

}

h3, p {font-family: Helvetica;

}
